@font-face {
    font-family: 'FontAwesome';
    src: url(/style/fonts/fontawesome-webfont.eot?v=4.3.0);
    src: url(/style/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0) format('embedded-opentype'),
         url(/style/fonts/fontawesome-webfont.woff2?v=4.3.0) format('woff2'),
         url(/style/fonts/fontawesome-webfont.woff?v=4.3.0) format('woff'),
         url(/style/fonts/fontawesome-webfont.ttf?v=4.3.0) format('truetype'),
         url(/style/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: #333;
    font-family: 'Open Sans';
    transition: all .1s;
    -webkit-transition: all .1s;
}

body {
    background-color: #ecf0f1;
}

.flex {
    display: flex;
}

.head .container,
.footer .container {
    padding: 25px 100px;
    background-color: white;
    max-width: 
}

.head .container .flex {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.footer .container .flex {
    -webkit-justify-content: center;
    justify-content: center;   
}

.logo {
    flex: 0 0 460px;
}

.testType div:first-child {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 100;
    padding-right: 20px;
}

.head .container div,
.footer .container div {
    position: relative;
    height: 57px;
}

.head .container img,
.footer .container img {
    width: 205px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.head .container span,
.footer .container span {
    color: #4d4d4d;
    font-size: 34px;
    font-weight: 100;
    cursor: default;
    position: absolute;
    left: 225px;
    top: 7px;
}

.container {
    position: relative;
    z-index: 1;
    padding: 20px 100px;
}

.task {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.task .question {
    padding: 10px;
    border-bottom: 1px solid #bdc3c7;
    margin-bottom: 10px;
}

.task .question * {
    color: inherit;
}

.showTips .task .question.failed { background-color: #e74c3c; }
.showTips .task .question.passed { background-color: #2ecc71; }

.task .question.failed,
.task .question.passed {
    background-color: #3498db;
    border-radius: 5px;
    margin-bottom: 11px;
    color: white;
    border-bottom: none;
}

.task  .question span {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}

.task  .question .image {
    text-align: center;
    margin: 20px;
}

.task .question .image img {
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #bdc3c7;
}

.task .question.failed .image img,
.task .question.passed .image img {
    box-shadow: none;
}

.task .answers {
    margin: 0 130px;
}

.task .answers .answer:first-child {
    margin-top: 0;
}

.task .answers .answer {
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
    border-left: 10px solid white;
}

.task .answers .answer:hover {
    background-color: #3498db;
}

.showTips .task .answers.display .answer.right { background-color: #2ecc71 !important; }
.showTips .task .answers.display .answer.wrong { background-color: #e74c3c !important; }

.showTips .task .answers .answer.checked {
    color: inherit;
    background: none;
}

.task .answers.display .answer.checked:hover,
.task .answers.display .answer.checked {
    background-color: #3498db;
    color: white;
}

.task .answers .answer.checked {
    border-left: 10px solid #3498db;
}

.showTips .task .answers.display .answer.right,
.showTips .task .answers.display .answer.wrong,
.showTips .task .answers.display .answer.right:hover,
.showTips .task .answers.display .answer.wrong:hover,
.task .answers .answer:hover {
    color: white;
}

.task .answers.display .answer:hover {
    background: none;
    color: inherit;
}

#toggler {
    margin-top: 10px;
    padding: 2px;
    padding-right: 30px;
    background-color: #bdc3c7;
    border-radius: 45px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

#toggler.on {
    background-color: #2ecc71;
    padding: 2px;
    padding-left: 30px;
}

#toggler:before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
}

.modalLayout {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, .75);
    z-index: 100;
    flex-direction: column;
}

.modalContainer { display: flex; }

.modalLayout:after,
.modalLayout:before,
.modalContainer:after,
.modalContainer:before {
    content: '';
    flex: 1 1 50%;
    display: block;
}

.modalContainer,
.modal {
    flex: 0 0 auto;
}

.result {
    font-size: 48px;
    font-weight: 100;
    color: white;
}

.result .passed,
.result .total {
    font-size: 64px;
    color: white;
}

.result .passed {
    font-weight: 600;
    color: #2ecc71;
}

.close {
    font-size: 36px;
    color: white;
    padding: 10px 0;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #e74c3c;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    width: 300px;
}

.close:hover { background-color: #c0392b; }

.footer .container img {
    width: 150px;
}

.footer .container span {
    left: 160px;
    font-size: 28px;
    top: 1px;
}

.footer .container div {
    height: 42px;
}

.progressBar {
	position: fixed;
	width: 100%;
	height: 10px;
	background-color: #3498db;
	bottom: 0px;
	left: 0px;
	z-index: 10;
}

.progressBar .finished {
	width: 0%;
	max-width: 100%;
	background-color: #27ae60;
	height: 100%;
	position: relative;
}

.counter span { color: inherit; }

.counter {
	color: white;
	background-color: #2ecc71;
	font-size: 18px;
	padding: 5px;
	border-radius: 5px;
	width: 100px;
	box-sizing: border-box;
	text-align: center;

	position: absolute;
	margin-right: -50px;
	right: 0px;
	bottom: 30px;
}

.counter:after {
	content: '';
	position: absolute;
	display: block;
	border: 10px solid transparent;
	border-top: 10px solid #2ecc71;
	width: 0px;
	height: 0px;
	bottom: -20px;
	left: 50%;
	margin-left: -10px;
}

.counterContainer {
    position: absolute;
    max-width: 100%;
    width: 100%;
}